<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head', {blog_settings}) %>
  </head>
  <body>
    <%- include('../partials/header', {blog_settings}) %>
    <h3 data-bs-theme="dark" class="text-center">
      404 Error! Sorry, page not found.
    </h3>
    <%- include('../partials/footer', {blog_settings}) %>
  </body>
</html>
